:root {
    --grid-width: min(50vh, 90vw);
    --pad-width: calc(var(--grid-width)/2 - 1.5em);
    --border-thickness: calc(var(--grid-width)/300);
    --grid-text: calc(var(--grid-width)/30 * 2);
    --primary: rgb(166, 166, 221);
    --secondary: rgb(93, 93, 126);
    --shadow: rgba(0, 0, 0, .4);
    --cell-shadow: calc(3 * var(--border-thickness));
    --svg-size: calc(1.5 * var(--grid-text));
    --footer-button-size: calc(var(--grid-width)/6);
}

* {
    font-family: sans-serif;
    color: black;
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    background: var(--secondary);
    font-size: var(--grid-text);
}


.grid {
    position: relative;
    width: var(--grid-width);
    height: var(--grid-width);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 1em auto;
    background: black;
}

.box {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    cursor: pointer;
    font-weight: bolder;
    padding: 0;
    background: #FFF;
    position: relative;
}

.cell::before {
    content: attr(data-pencil);
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: .5em;
}

.cell.given {
    color: var(--secondary);
    cursor: default; 
}

.cell-active {
    box-shadow: inset 0 0 0 var(--cell-shadow) var(--primary);
}
.cell:focus-visible {
    outline: none;
}

.grid, .box, .cell {
    border: var(--border-thickness) solid black;
}

.controls {
    font-size: var(--grid-text);
    display: flex;
    justify-content: space-evenly;
    width: var(--grid-width);
    margin: 1em auto;
    background: white;
    padding: 1em 0;
    box-shadow: 0 0 20px 3px var(--shadow);
}

.number-pad, .input-type {
    display: grid;
    width: var(--pad-width);
    height: var(--pad-width);
    font-size: var(--grid-text);
}

.number-pad {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: .5em;
}

.input-type {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: .5em;
}

.controls button {
    outline: none;
    border: solid black .04em;
    cursor: pointer;
    box-shadow: 0 0 .25em .04em ;
}

.number {
    background: var(--primary);
    font-weight: bolder;
    padding: 0;
}

.number:active {
    background: var(--secondary);
    box-shadow: inset 0 0 0 var(--cell-shadow) black;
}

.input-type button{
    background: black;
    color: white;
    padding: 0;
}

.undo, .redo {
    font-size: 200%;
    text-align: center;
    padding: 0;
    font-family: "SymbolaRegular";
}

.undo {
    transform: rotate(-90deg);
}

.redo {
    transform: rotate(90deg);
}

.answer {
    font-size: 1.5em;
}

.pencil-mark {
    position: relative;
}
.pencil-mark::before {
    position: absolute;
    top: 7%;
    left: 7%;
    content: '123';
    font-size: .75em;
}

.active, .undo:active, .redo:active {
    box-shadow: inset 0 0 0 var(--cell-shadow) var(--primary) !important;
    cursor: default !important;
    border-color: var(--primary) !important;
}

footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: black;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    padding: 0 1em;
}

footer>* {
    background: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    width: var(--footer-button-size);
    text-align: center;
    font-family: "SymbolaRegular";
    align-items: center;
}

.svg-container {
    display: grid;
    place-items: center;
}

.new {
    height: var(--svg-size);
    width: var(--svg-size);
    font-size: var(--svg-size);
}

.grid-message {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    z-index: 10;
    padding: 1em;
}
.grid-message h1 { font-size: .85em; }
.grid-message p { 
    font-size: .75em; 
    margin: .5em 0;
}
.grid-message ul { 
    padding: 0; 
    margin: .5em 0;
}
.grid-message li {
    font-size: .6em;
    list-style: none;
    margin: .5em;
}
.grid-message div {
    width: 85%;
}

.keycap {
    display: inline-block;
    background: black;
    border: .175em solid gray;
    color: white;
    padding: .75em;
}