:root {
    --grid-width: 500px;
    --border-thickness: calc(var(--grid-width)/300);
    --grid-text: calc(var(--grid-width)/30 * 2);
    --primary: rgb(166, 166, 221);
    --secondary: rgb(93, 93, 126);
}

* {
    font-family: sans-serif;
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    background: var(--secondary);
}

.grid {
    width: var(--grid-width);
    height: var(--grid-width);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 32px auto;
    font-size: var(--grid-text);
    background: black;
}

.box {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    cursor: pointer;
    font-weight: bolder;
    padding: 0;
    background: #FFF;
    position: relative;
}

.cell::before {
    content: attr('data-pencil');
    position: absolute;
    top: 0;
    left: 0;
    font-size: .5em;
}

.cell.given {
    color: var(--secondary);
    cursor: default; 
}

.cell-active {
    box-shadow: inset 0 0 0 calc(3 * var(--border-thickness)) var(--primary);
}
.cell:focus-visible {
    outline: none;
}

.grid, .grid>*, .grid>*>* {
    border: var(--border-thickness) solid black;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    width: calc(var(--grid-width));
    margin: 16px auto;
    background: white;
    padding: 16px 0;
}

.number-pad, .input-type {
    display: grid;
    width: calc(var(--grid-width)/2 - 32px);
    height: calc(var(--grid-width)/2 - 32px);
    font-size: var(--grid-text);
}

.number-pad {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 16px;
}

.input-type {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 32px;
}

.controls button {
    outline: none;
    border: none;
    cursor: pointer;
}

.number {
    background: var(--primary);
    font-weight: bolder;
}

.number:active {
    background: var(--secondary);
    box-shadow: inset 0 0 0 calc(3 * var(--border-thickness)) black;
}

.input-type button{
    background: black;
    color: white;
}

.undo, .redo {
    font-size: calc(1.75 * var(--grid-text));
}

.active {
    box-shadow: inset 0 0 0 calc(5 * var(--border-thickness)) var(--primary);
    cursor: default !important;
}