{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Sudokutime</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="grid">
    </div>
    <div class="controls">
        <div class="input-type">
            <button class="answer active">1</button>
            <button class="pencil-mark"></button>
            <button class="undo">&#x2190;</button>
            <button class="redo">&#x2192;</button>
        </div>
        <div class="number-pad">
            <button class="number">1</button>
            <button class="number">2</button>
            <button class="number">3</button>
            <button class="number">4</button>
            <button class="number">5</button>
            <button class="number">6</button>
            <button class="number">7</button>
            <button class="number">8</button>
            <button class="number">9</button>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>